In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [36]:
df=pd.read_csv('Housing.csv')
df

        price  area  bedrooms  ...  parking  prefarea furnishingstatus
0    13300000  7420         4  ...        2       yes        furnished
1    12250000  8960         4  ...        3        no        furnished
2    12250000  9960         3  ...        2       yes   semi-furnished
3    12215000  7500         4  ...        3       yes        furnished
4    11410000  7420         4  ...        2        no        furnished
..        ...   ...       ...  ...      ...       ...              ...
540   1820000  3000         2  ...        2        no      unfurnished
541   1767150  2400         3  ...        0        no   semi-furnished
542   1750000  3620         2  ...        0        no      unfurnished
543   1750000  2910         3  ...        0        no        furnished
544   1750000  3850         3  ...        0        no      unfurnished

[545 rows x 13 columns]

In [37]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in ['mainroad','guestroom','basement','hotwaterheating','airconditioning','prefarea','furnishingstatus']:
    df[i]=label_encoder.fit_transform(df[i])
df

        price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0    13300000  7420         4  ...        2         1                 0
1    12250000  8960         4  ...        3         0                 0
2    12250000  9960         3  ...        2         1                 1
3    12215000  7500         4  ...        3         1                 0
4    11410000  7420         4  ...        2         0                 0
..        ...   ...       ...  ...      ...       ...               ...
540   1820000  3000         2  ...        2         0                 2
541   1767150  2400         3  ...        0         0                 1
542   1750000  3620         2  ...        0         0                 2
543   1750000  2910         3  ...        0         0                 0
544   1750000  3850         3  ...        0         0                 2

[545 rows x 13 columns]

In [38]:
X=df.drop('furnishingstatus',axis='columns')
Y=df['furnishingstatus']

# **Linear Regression**

In [39]:
model=LinearRegression()
model.fit(X,Y)
R_square=model.score(X,Y)
print('Coeffecient of determination:', R_square)
#print('parameter: theta0', model.intercept_)
#print('parameter: theta1',model.coef_)

Coeffecient of determination: 0.10648833028125591

In [40]:
Y_pred=model.predict(X)
print('predicted values:',Y_pred, sep='\n')

predicted values:
[0.16219197 0.25175731 0.25643991 0.12262193 0.16672296 0.35121667
 0.5110678  0.62895271 0.3365726  0.54237348 0.45500506 0.37969432
 0.59684508 0.52668996 0.73558913 0.48554837 0.48364054 0.62337309
 0.52675726 0.67071788 0.51376201 0.47038378 0.51682883 0.53406811
 0.63575013 0.48021075 0.65871624 0.71709994 0.52488315 0.60681953
 0.67401722 0.65245196 0.68948079 0.64292443 0.51752724 0.70336106
 0.77897776 0.69272962 0.63206317 0.7445727  0.73186984 0.85594014
 0.73860756 0.74513408 0.77910151 0.85360125 0.81212341 0.69689432
 0.74760941 0.72764994 0.88206772 0.80450857 0.74075873 0.76716503
 0.74337616 0.78300359 0.7565835  0.77945642 0.762113   0.78413927
 0.80234405 0.83965028 0.80156781 0.77549859 0.76707457 0.78171499
 0.80768035 0.82132453 0.81786814 0.85016972 0.84689299 0.91692429
 0.94098346 0.96369613 0.77808426 0.90242838 0.96013169 0.96049087
 0.65955554 0.88431609 0.87891195 0.79088104 0.82145834 0.96375771
 0.80731839 0.96728957 0.91879737 0.75144863 0.68449738 0.84393336
 0.92669528 0.75487838 0.91657437 0.70603529 0.94165584 0.85256146
 0.86461764 0.75563367 0.99615923 0.85133034 0.9003366  0.95784717
 0.88202796 0.93077495 0.76122829 0.97902504 0.87251016 0.95565663
 0.9153466  0.85078121 0.757093   0.87302623 0.92774807 0.83040262
 0.77959586 0.73203378 0.90159134 0.88056989 0.90771885 0.79359967
 0.77063514 0.86577574 0.87668128 1.01356602 1.00811077 0.89302852
 0.8393846  1.02158441 0.88088603 0.96141883 0.87305309 0.96913774
 1.00322088 1.00142498 0.84626258 1.04317397 0.87059941 0.94441168
 1.00922869 0.75229367 1.04572891 0.86226932 1.00396566 1.07489562
 0.78609568 1.07476661 1.03019526 1.01108603 1.08226671 0.97117005
 0.89089857 0.87881129 0.83639872 1.0108673  0.95127928 0.88858694
 0.93118961 1.00331922 0.94126426 0.8868805  0.96713102 0.99760023
 0.9393973  0.90227034 0.91795943 0.9192021  0.85925352 0.95755731
 0.93611559 1.19850687 1.01545932 1.04898778 0.82326884 1.03669785
 0.8992732  0.91788509 0.92960828 1.01405646 0.84421139 0.98024504
 0.98742565 0.91799116 1.20494903 1.04906943 0.97246224 1.01208967
 1.1693734  0.98915129 1.10902911 1.13608885 0.93010179 0.99450628
 0.97749245 0.98480067 0.9924672  0.92471497 0.94606276 1.10679574
 1.07942543 1.05418378 1.00138074 1.09804835 0.99552216 1.08909953
 0.96821792 0.95416989 0.96416075 0.99455635 1.12123429 1.1111192
 0.86432396 1.02205271 0.87018323 1.01884238 1.05841419 1.13348283
 1.01302878 0.99194452 1.11566029 1.06112452 0.90838216 1.11276346
 0.93533175 0.96487176 1.03010981 0.94046306 1.12705417 0.98642954
 1.01462599 0.95585432 1.1838247  1.13593099 1.06032197 0.95485163
 0.96700059 0.99183154 1.04522513 1.06945436 1.0577637  1.08505235
 1.09920384 1.01554539 1.10704483 1.06531539 1.03356172 1.0510746
 1.14615073 0.98882958 1.04943084 1.02263432 1.16164044 1.01440252
 1.16319864 1.19264841 0.97147463 1.08171675 1.03700448 1.15942306
 1.09559058 1.0094537  1.05408857 1.15230811 1.03809486 1.3182154
 1.11924679 1.17125519 1.04994584 1.10713788 1.09993119 1.16372717
 1.11603436 1.18163459 0.90353063 1.01900213 1.14905985 1.1108514
 1.13056451 1.17219315 0.99412096 1.20122377 1.21469956 1.03780925
 1.15157993 1.14658208 1.14914778 1.13082538 1.09884945 1.14992454
 1.07277302 0.95488044 1.34213191 1.06340296 1.32331436 1.29860386
 1.32893999 1.33155607 1.10690992 1.12417065 1.03089181 1.00621442
 1.19527103 1.19415533 1.14305123 1.09512338 0.93743091 1.12125526
 1.13025829 1.06843959 1.05160721 1.1233642  1.10869639 1.0808862
 1.07771523 1.20979512 1.16314128 1.17682538 1.21778925 1.10232551
 1.18330279 0.94451926 1.09474562 1.07132193 1.030494   1.01629526
 1.24697523 1.13018732 1.24211158 1.27427107 1.26813431 1.20197825
 1.11267488 0.92029113 1.05208287 1.20457387 1.13522116 0.99418085
 1.05884228 1.1169066  1.10695144 1.19869853 1.18210063 1.05591439
 1.19187038 1.23242176 1.23138912 1.14684086 1.19315889 1.21443219
 1.33368141 1.2265567  1.16309213 1.23717245 1.13037153 1.24608451
 1.20031664 1.11235824 1.14963219 1.3063809  1.25495642 1.15610269
 1.2460537  1.22537435 1.24609859 1.21566493 1.28072862 1.25307479
 1.17257955 1.20941518 1.41432596 1.2475311  1.09897337 1.15966982
 1.31555464 1.22351533 1.1949712  1.11134021 1.13988994 1.34837553
 1.19069545 1.1198032  1.25847761 1.2711026  1.1646899  1.04380164
 1.41956631 1.25806933 1.11608302 1.2133251  1.24892677 1.223623
 1.41919328 1.17108383 1.25045327 1.41003103 1.35407293 1.10158873
 1.20656858 1.21671537 1.1881407  1.22322548 1.22086375 1.11484201
 1.27503208 1.27717852 1.41286532 1.23625492 1.23243406 1.27396825
 1.27349716 1.15302501 1.24325468 1.27742113 1.19094682 1.20741624
 1.27436732 1.03357783 1.05301241 1.27533373 1.0774322  1.41016243
 1.29441747 1.28377021 1.398531   1.24971147 1.34281851 1.08484453
 1.40332365 1.19852716 1.22562888 1.2416731  1.3999593  1.12462802
 1.1328422  1.33854109 1.24071258 1.28748827 1.20267062 1.20777385
 1.45064224 1.44808309 1.17046851 1.27978242 1.19164885 1.36531145
 1.43180607 1.32821987 1.28557299 1.38142491 1.18473371 1.35702569
 1.20747139 1.31346696 1.19066261 1.23853376 1.24971182 1.20524883
 1.28230156 1.38989956 1.2878064  1.30232822 1.26733677 1.19899926
 1.36622122 1.169794   1.23699867 1.3105809  1.45238867 1.17861329
 1.30970119 1.31762557 1.44782948 1.29771607 1.09238877 1.33380571
 1.37353207 1.32875182 1.18055752 1.32614763 1.40317768 1.43228456
 1.40263891 1.47363666 1.45956381 1.31748491 1.48206893 1.32708205
 1.33772271 1.28936664 1.30367092 1.41218941 1.38856218 1.42531941
 1.18000191 1.30590041 1.35512602 1.26805505 1.34600766 1.34916422
 1.35395687 1.46914715 1.31450385 1.47047847 1.28871937 1.31989153
 1.30824138 1.29580729 1.50772716 1.35457041 1.35816219 1.25398609
 1.48631037 1.48765729 1.37225813 1.35242762 1.50377781 1.27545148
 1.40693487 1.30728159 1.30887289 1.38742499 1.38678983 1.53031835
 1.35414353 1.34540796 1.37377915 1.37892017 1.38030777 1.46027603
 1.57451237 1.29612808 1.48141652 1.50210839 1.55439984 1.38142985
 1.35455467 1.3434267  1.49831869 1.39900433 1.42384803 1.52357149
 1.2359407  1.55842677 1.43752935 1.56240845 1.42246877]

# **Decision Tree**

In [41]:
model_1=tree.DecisionTreeClassifier()
model_1.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [42]:
model_1.score(X,Y)

1.0

In [43]:
Y_pred=model_1.predict(X)
print('predicted values:',Y_pred, sep='\n')

predicted values:
[0 0 1 0 0 1 1 2 0 2 0 1 1 0 1 1 2 0 0 1 1 2 0 0 0 0 1 1 2 1 2 1 0 2 0 0 0
 0 2 1 0 0 2 1 0 1 0 0 2 1 2 2 0 1 1 2 1 0 1 0 1 1 0 0 0 0 0 2 0 0 1 2 2 0
 0 1 0 0 0 0 1 1 0 1 1 0 2 1 2 0 1 0 0 1 1 1 0 1 2 2 2 2 1 0 0 2 1 2 1 1 1
 2 0 0 0 1 2 0 0 1 0 1 1 0 0 1 2 2 0 1 2 1 1 2 1 2 2 1 1 0 2 1 1 2 0 0 1 1
 1 1 2 1 0 1 1 0 1 0 1 0 0 1 1 1 0 2 2 1 0 1 1 1 2 2 2 1 0 1 1 1 1 0 1 1 0
 2 0 1 2 1 0 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 2 1 0 1 1 2 2 1 0 1 2 1 1
 1 0 2 1 1 0 1 1 1 1 0 2 1 1 1 1 1 0 1 1 0 0 1 2 1 2 1 0 1 1 1 0 1 2 0 0 1
 0 0 1 1 1 1 1 2 1 1 2 0 1 1 0 1 0 1 1 1 0 2 0 2 0 0 1 0 2 2 1 1 2 1 2 1 1
 1 2 1 0 1 1 2 0 1 1 1 1 1 1 1 1 0 1 1 1 2 2 1 1 0 1 0 1 1 1 2 1 1 0 2 0 1
 1 0 0 1 2 1 0 1 1 0 1 1 1 1 2 1 1 1 1 2 0 0 0 0 0 1 2 1 1 0 1 1 0 0 2 1 0
 1 1 1 0 1 2 1 2 1 2 1 1 0 0 0 2 2 1 2 1 2 1 1 2 2 2 1 0 2 1 2 2 2 2 2 2 2
 0 2 2 2 0 2 2 2 0 2 0 2 1 2 2 2 2 1 0 0 0 2 2 2 2 0 1 1 2 0 2 1 2 2 2 2 2
 0 0 2 1 1 2 1 1 1 2 2 2 1 2 2 2 2 2 1 2 1 2 1 1 1 0 2 2 1 2 2 1 2 2 2 2 1
 0 2 1 2 2 1 2 2 1 2 0 2 0 2 2 2 2 1 2 2 2 1 1 2 2 2 2 2 0 2 2 0 2 1 2 2 2
 2 2 2 2 0 0 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 0 2]

# **Random Forest**

In [44]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=109)

In [45]:
model_2=RandomForestClassifier(n_estimators=20).fit(X_train,y_train)
model_2

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [46]:
model_2.score(X_test,y_test)

0.4695121951219512

In [47]:
y_pred=model_2.predict(X_test)
print('predicted values:',y_pred, sep='\n')

predicted values:
[1 1 1 1 0 1 0 1 1 0 0 1 1 0 2 0 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 1 2 2 0 0 0
 1 1 0 1 1 0 2 1 1 1 2 2 0 2 1 2 1 1 2 2 1 1 0 0 0 1 2 2 2 1 2 1 2 1 1 2 0
 1 1 1 2 1 1 1 1 2 0 1 1 1 1 0 2 1 2 2 2 0 1 2 0 1 0 1 1 1 1 1 1 1 2 1 2 0
 0 0 0 1 1 1 2 1 1 1 1 1 0 0 1 0 1 1 0 2 1 0 2 1 1 0 1 2 0 2 1 0 1 1 1 1 2
 0 2 1 1 1 0 0 2 1 0 2 2 1 2 0 0]

# **Logistic Regression**

In [48]:
model_3=LogisticRegression(solver='liblinear',random_state=0).fit(X_train, y_train)
model_3

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [49]:
model_3.score(X_test,y_test)

0.38414634146341464

In [50]:
y_pred=model_3.predict(X_test)
print('predicted values:',y_pred, sep='\n')

predicted values:
[1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1 1 2 1 1 1 1 1
 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1
 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1
 1 2 1 1 1 1 1 1 1 1 1 1 1 2 1 1]

In [57]:
import pickle
pickle.dump(model_1,open('model_save','wb'))

In [56]:
import joblib
joblib.dump(model_2,"model_save1")

['model_save1']